{% extends "base.html" %}

{% block title %}Title{% endblock %}

{% block body %}


<div class="card" style="width: 18rem;">
  <div class="list-group">
    <a href="{% url 'add_card' %}" class="list-group-item list-group-item-action active">
      Add Cards
    </a>
  </div>
  {% for card in cards %}
  <div class="card-body">
    <h5 class="card-title" >{{card.name}}</h5>
    <a href="{% url 'view_details' card.id %}" class="btn btn-primary">View Card</a>
  </div>
  {% endfor %}
</div>

{% endblock %}